.center {
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 10em;
}

.grid {
  align-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;

  /* This is better for small screens, once min() is better supported */

  /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
}

.item {
  background-color: black;
  color: green;
  justify-content: center;
}
